
.container{
    margin: auto;
    width: 60%;
    height: 60%;
}

.cell{
    padding: 10px;
    background-color: ghostwhite;
    margin: 2px;
}
td.cell-visiting {
    background-color: deepskyblue !important;
}
.cell-visited{
   background-color:  gainsboro; 
}

td.cell-obstacle{
    background-color: black;
}

td.cell-goal{
    background-color: goldenrod !important;
}

.button-row{
    text-align: center;
    margin: 10px;
    height: 30px;
}

.visible{
    display: none;
}


