

<table id="container">
  <tr class="row" *ngFor="let row of grid">
    <td class="cell" 
    *ngFor="let cell of row" id="{{cell.uid}}" 
    [ngClass]="{ 
      'cell-visited' : cell.data.visited, 
      'cell-obstacle': cell.data.type === 'obstacle', 
      'cell-goal' : cell.data.type === 'goal',
      'cell-visiting' : cell.data.type === 'visiting'  
    }"
    (click)="toggleObstacle(cell)"
    (dblclick)="toggleGoal(cell)"
    >
    </td>
  </tr>
</table>
<div class='button-row'>
  <button [ngClass]="{ 'visible' : !startable }" [disabled]='isProcessing' (click)="doSolveMaze(grid)"> Start </button>
</div>


